# Python
__pycache__/
*.pyc
*.pyo
*$py.class

# Environments
venv/
env/
.env

# Firebase credentials
serviceAccountKey.json
firebase-credentials.json
google-credentials.json

# IDE
.vscode/
.idea/
.DS_Store
